.skills-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 55vh;
    height: 55vh;
    overflow-y: auto;
    h3 {
        margin: .5rem 0 .5rem 2rem;
    }
    ul {
        margin: .5rem 0 .5rem 4rem;
    }
}

.skills-header {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem 0 .5rem 1rem;
}