.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: arial, helvetica !important;
    font-weight: light;
    color: white;
    &:active {
        background-color: #00007b;
    }
    img {
        padding: 0 4rem;
    }
    p {
        text-align: center;
    }
}