.window-container {
    max-width: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25%;
    background-color: #c0c0c0;
    border: #dfdede 3px solid;
}

.window {
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
    .window-title {
        background: -webkit-gradient(linear, right top, left top, from(#1d86cd), to(#020d7f));
        background: -webkit-linear-gradient(right, #1d86cd, #020d7f);
        background: -o-linear-gradient(right, #1d86cd, #020d7f);
        background: linear-gradient(to left, #1d86cd, #020d7f);
        height: 25px;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.text-title {
    display: flex;
    flex-wrap: wrap;
    img {
        margin-left: -3.8rem;
        position: absolute;
        width: 1rem;
    }
    p {
        margin-left: 1.5rem;
    }
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background-color: white;
    color: black;
    width: 100%;
    min-height: 30vh;
    overflow-y: auto;
    a {
        text-decoration: none;
        list-style: none;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 12vh;
        p {
            padding-top: .5rem;
        }
        &:hover {
            cursor: pointer;
            color: #dfdede;
            background-color: #000184;
        }
        .social-icon {
            max-width: 60%;
            max-height: 60%;
            z-index: 0;
        }
        .icon {
            position: relative;
            max-width: 2rem;
            max-height: 2rem;
            position: fixed;
            margin-top: -2rem;
            margin-bottom: .7rem;
            margin-left: .55rem;
            z-index: 100;
            opacity: .6;
        }
    }
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    border: 2px inset white;
    color: black;
    width: 99.5%;
    margin-top: 2%;
    p {
        padding: .2rem;
    }
}